Language: Cpp
Standard: c++20

TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
DerivePointerBinding: false
AccessModifierOffset: -4
NamespaceIndentation: None
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: true 
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PackConstructorInitializers: BinPack
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
SpacesInContainerLiterals: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
SortIncludes: true
IncludeBlocks: Preserve
PenaltyBreakComment: 100
PenaltyBreakString: 100
PenaltyExcessCharacter: 1
PenaltyReturnTypeOnItsOwnLine: 20